.btn-primary {
  color: $white;
  background-color: $blue;
  border-color: $blue;
}
.btn-secondary {
  color: $blue;
  background-color: $white;
  border-color: $blue;
}
.btn-tertiary {
  color: $white;
  background-color: $blue;
  border: none;
}
