// d-flex prefixes
@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// transition
@mixin custom-transition($property, $duration) {
  -webkit-transition: $property $duration + s;
  -o-transition: $property $duration + s;
  transition: $property $duration + s;
}

@mixin devices($breakpoint) {
  @if $breakpoint == smallScreen {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: 810px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 481px) {
      @content;
    }
  }
}
