.header {
  &--unpinned {
    opacity: 0;
    transition: 1s;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  &__title {
    font-weight: 500;
    font-family: "Baloo Paaji", cursive;
    color: $white;
  }
  &__list {
    display: flex;
    list-style-type: none;
    column-gap: 10px;
    align-items: center;
    &--item {
      font-weight: 500;
      font-family: "Baloo Paaji", cursive;
      color: $white;
    }
  }
}
