.header {
  &--unpinned {
    opacity: 0;
    transition: 1s;
  }
  &__group {
    display: flex;
    justify-content: space-between;
    width: 70%;
    &__title {
      font-weight: 500;
      font-family: "Baloo Paaji", cursive;
      color: $white;
    }
    &__list {
      display: flex;
      list-style-type: none;
      column-gap: 10px;
      align-items: center;
      color: $white;
      &--item {
        font-weight: 500;
        font-family: "Baloo Paaji", cursive;
      }
    }
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
