.hero {
  // background-color: #323133;
  background-color: $light;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.05) 80%,
      rgba(255, 255, 255, 1) 90%
    ),
    url("https://drive.google.com/uc?export=view&id=1ITyTtiPOhtZ8mOx9v3EmWyY6eJOdSCqH");
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  &__up {
    font-family: "Baloo Paaji", cursive;
    font-weight: 700;
    color: $gray-700;
    font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1300 - 300)));
  }
  &__mid {
    font-family: "Baloo Paaji", cursive;
    font-weight: 700;
    color: $gray-800;
    font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1300 - 300)));
    line-height: calc(50px + (60 - 30) * ((100vw - 300px) / (1300 - 300)));
  }

  &__bot {
    font-family: $font-family-sans-serif;
    font-weight: 100;
    color: $gray-800;
    letter-spacing: calc(1px + (7 - 1) * ((100vw - 300px) / (1300 - 300)));
    font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1300 - 300)));
    margin: 3rem 0;
  }
  &__btn {
    font-family: "Baloo Paaji", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 0.5rem 0;
    margin: 0 auto;
    border-radius: 1rem;
    border: 3px solid;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
