.hireMe {
  margin: 5rem 0;
  background-color: $blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__group {
    &__title {
      color: $white;
    }
    &__disc {
      font-family: $font-family-sans-serif;
      color: $white;
    }
  }
  &__button {
    width: 120px;
    font-size: large;
    height: 50px;
    font-weight: 500;
    font-family: "Baloo Paaji", cursive;
    border-radius: 0.4rem;
  }
}
