.prices {
  margin-top: 5rem;
  text-align: center;
  &__ques {
    font-family: $font-family-sans-serif;
    color: $gray-600;
  }
  &__title {
    color: $blue;
  }
  &__group {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;

    &__content {
      width: 370px;
      border: 1px solid $gray-400;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

      &__title {
        margin-bottom: 0rem;
      }

      &__title {
        color: $blue;
        align-self: center;
      }
      &__icon {
        margin-bottom: 1rem;
      }
      &__item {
        font-family: $font-family-sans-serif;
        color: $gray-600;
        margin: 0.3rem;
      }
      &__button {
        padding: 0.7rem 1rem;
        margin: 1rem auto;
      }
    }
  }
}
