.dark {
  background-color: #323133;
}
.hero {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.05) 30%,
      rgba(50, 49, 51, 1) 90%
    ),
    url("https://drive.google.com/file/d/1ITyTtiPOhtZ8mOx9v3EmWyY6eJOdSCqH/view?usp=drive_link");
  height: fit-content;

  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}
