.light {
  background-color: white;
}
.hero {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.05) 80%,
      rgba(255, 255, 255, 1) 90%
    ),
    url("src/assets/imgs/header.jpg");
  height: fit-content;

  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}
