@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background: #695aa6;
  color: white;
}

::selection {
  background: #695aa6;
  color: white;
}

.infos {
  height: 100px;
  padding-bottom: 20px;
  color: #fff;
  display: flex;
  opacity: 0.8;
  align-items: flex-end;
}
.infos * {
  margin: 0;
  padding: 0;
}
.infos .title,
.infos .socials {
  flex-grow: 1;
}
.infos .title .subtitle,
.infos .socials .subtitle {
  font-size: 14px;
  opacity: 0.9;
}
.infos .title .font-small {
  color: #fff;
  font-size: 13px;
}
.infos .subtitle {
  margin: 2px;
}
.infos .subtitle i {
  width: 20px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.infos .social-links a {
  font-size: 14px;
  color: #fff;
}
.infos .social-links a:hover {
  color: #695aa6;
}

/* contact section */
.list {
  list-style-type: none;
  padding-left: 0;
  padding: 0 30px;
}
.list .list-head {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 6px;
}
.list .list-body {
  padding-top: 6px;
}
.list .list-body p {
  margin-bottom: 5px;
}
.list .list-body p i {
  display: inline-block;
  width: 20px;
}
.list .list-body a {
  display: block;
  text-decoration: none;
  margin-bottom: 4px;
}
.list .list-body .social-links {
  margin-top: 15px;
}
.list .list-body .social-links a {
  display: inline;
  padding: 0 8px 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: "Baloo Paaji", cursive;
  color: #695aa6;
}

.my-font {
  font-family: "Baloo Paaji", cursive;
}

p {
  font-size: calc(13px + 2 * (100vw - 300px) / 1000);
  font-weight: 100;
  opacity: 1;
  color: #111;
  letter-spacing: 0.6px;
}

.xs-font {
  font-size: 13px;
  opacity: 0.5;
}

.title {
  font-size: calc(15px + 5 * (100vw - 300px) / 1000);
}
.title.big {
  font-size: calc(17px + 8 * (100vw - 300px) / 1000);
}

.mb-6 {
  margin-bottom: 4rem !important;
}

.img-responsive {
  width: 100% !important;
}

.rounded {
  border-radius: 4px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20%;
  margin: 0 auto;
}
.about__img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-right: 3rem;
}
.about__content__ques {
  font-family: "Open Sans", sans-serif;
  color: #6c757d;
}
.about__content__title {
  color: #1e549f;
}
.about__content__introduce {
  font-family: "Open Sans", sans-serif;
}
.about__content__btn {
  width: 120px;
  padding: 0.6rem 0;
  margin: 1rem auto;
  border-radius: 1rem;
  border: solid 1px;
  justify-self: left;
}

.portfolio {
  color: #1e549f;
  text-align: center;
}
.portfolio__ques {
  font-family: "Open Sans", sans-serif;
  color: #6c757d;
}
.portfolio__title {
  color: #1e549f;
}
.portfolio__group {
  display: flex;
  justify-content: space-around;
  width: 68%;
  margin: 0 auto;
}
.portfolio__group__item {
  width: 30%;
  height: 350px;
}
.portfolio__group__item__content {
  width: 100%;
  height: 100%;
  opacity: 0;
  padding-top: 2rem;
}
.portfolio__group__item__content__title {
  color: #1e549f;
  text-decoration: none;
  font-weight: 500;
  font-family: "Baloo Paaji", cursive;
  font-size: 32px;
}
.portfolio__group__item__content__text {
  color: #1e549f;
}
.portfolio__group__item:hover .portfolio__group__item__content {
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.4117647059);
  opacity: 1;
}

.primary {
  background-image: url("https://drive.google.com/uc?export=view&id=1PjyHJo1yqiX8l2rQiVxYqQcXYQF9iYMT");
  background-size: cover;
  border-radius: 1%;
}

.secondary {
  background-image: url("https://drive.google.com/uc?export=view&id=13x4zHECQTNCmbh1gg4feKTkC5O9TQ2iv");
  background-size: cover;
  border-radius: 1%;
}

.tertiary {
  background-image: url("https://drive.google.com/uc?export=view&id=18wmJDmLBae5YdTz879MGNqoY4NtaeC_V");
  background-size: cover;
  border-radius: 1%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.header--unpinned {
  opacity: 0;
  transition: 1s;
}
.header__title {
  font-weight: 500;
  font-family: "Baloo Paaji", cursive;
  color: #fff;
}
.header__list {
  display: flex;
  list-style-type: none;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}
.header__list--item {
  font-weight: 500;
  font-family: "Baloo Paaji", cursive;
  color: #fff;
}

.hero {
  background-color: #f8f9fa;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 80%, rgb(255, 255, 255) 90%), url("https://drive.google.com/uc?export=view&id=1ITyTtiPOhtZ8mOx9v3EmWyY6eJOdSCqH");
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}
.hero__up {
  font-family: "Baloo Paaji", cursive;
  font-weight: 700;
  color: #495057;
  font-size: calc(30px + 30 * (100vw - 300px) / 1000);
}
.hero__mid {
  font-family: "Baloo Paaji", cursive;
  font-weight: 700;
  color: #393e46;
  font-size: calc(30px + 30 * (100vw - 300px) / 1000);
}
.hero__bot {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: #393e46;
  letter-spacing: calc(1px + 6 * (100vw - 300px) / 1000);
  font-size: calc(10px + 12 * (100vw - 300px) / 1000);
  margin-bottom: 3rem;
}
.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 0.5rem 0;
  margin: 0 auto;
  border-radius: 1rem;
  border: 3px solid;
}

.service {
  width: 70%;
  margin: 3rem auto;
  text-align: center;
}
.service__ques {
  font-family: "Open Sans", sans-serif;
  color: #6c757d;
}
.service__title {
  color: #1e549f;
}
.service__group {
  justify-content: space-around;
  display: flex;
}
.service__group__item {
  width: 15rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
}
.service__group__item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
}
.service__group__item__content__text {
  margin: 0.8rem 0;
  font-family: "Open Sans", sans-serif;
  color: #1e549f;
  font-weight: 900;
}
.service__group__item__content__hide {
  bottom: -50px;
  opacity: 0;
  margin: 0;
}
.service__group__item__content__hide__text {
  font-family: "Open Sans", sans-serif;
  color: #1e549f;
  font-weight: 400;
  font-size: 12px;
}
.service__group__item:hover .service__group__item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20px;
  transform: translateY(-25px) scale(0.7);
  transition: 1.5s;
}
.service__group__item:hover .service__group__item__content__text {
  transition: 1.5s;
  margin: 0.1rem 0;
  font-family: "Open Sans", sans-serif;
  color: #1e549f;
  font-weight: 900;
}
.service__group__item:hover .service__group__item__content__hide {
  transform: translateY(-20px) scale(1.1);
  opacity: 1;
  transition: 1.5s;
  margin: 0;
}

.prices {
  margin-top: 5rem;
  text-align: center;
}
.prices__ques {
  font-family: "Open Sans", sans-serif;
  color: #6c757d;
}
.prices__title {
  color: #1e549f;
}
.prices__group {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
}
.prices__group__content {
  width: 370px;
  border: 1px solid #ced4da;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
g .prices__group__content__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 3.3rem;
}
.prices__group__content__title {
  color: #1e549f;
  align-self: center;
}
.prices__group__content__item {
  font-family: "Open Sans", sans-serif;
  color: #6c757d;
}
.prices__group__content__button {
  padding: 0.7rem 1rem;
}

.hireMe {
  margin: 5rem 0;
  background-color: #1e549f;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hireMe__group__title {
  color: #fff;
}
.hireMe__group__disc {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.hireMe__button {
  width: 120px;
  font-size: large;
  height: 50px;
  font-weight: 500;
  font-family: "Baloo Paaji", cursive;
  border-radius: 0.4rem;
}

.Testmonial {
  margin: 10rem 0;
  text-align: center;
}
.Testmonial__ques {
  font-family: "Open Sans", sans-serif;
  color: #6c757d;
}
.Testmonial__title {
  margin: 3rem 0rem;
  color: #1e549f;
}
.Testmonial__group {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.Testmonial__group__content {
  width: 45%;
  border: 1px solid #6c757d;
}
.Testmonial__group__content__img {
  border-radius: 100%;
}
.Testmonial__group__content__disc {
  margin: 0 2rem;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}
.Testmonial__group__content__name {
  color: #1e549f;
  margin: 1rem 2rem;
  text-align: left;
}

.blog {
  width: 60%;
  margin: 5rem auto;
  text-align: center;
}
.blog__title {
  color: #1e549f;
}
.blog__ques {
  font-family: "Open Sans", sans-serif;
  color: #6c757d;
}
.blog__content {
  margin-top: 4rem;
  border: 1px solid #6c757d;
  text-align: left;
  display: flex;
}
.blog__content__img {
  height: 350px;
  width: 350px;
}
.blog__content__paragraph__group {
  margin-left: 3rem;
}
.blog__content__group__title {
  margin-left: 3rem;
  color: #1e549f;
}
.blog__content__group__response {
  margin-left: 3rem;
  display: flex;
}
.blog__content__group__response__like {
  margin: 0 1rem;
}
.blog__content__group__response__like__number {
  margin: 0 0.2rem;
}
.blog__content__group__response__commit {
  margin: 0 1rem;
}
.blog__content__group__response__commit__number {
  margin: 0 0.2rem;
}
.blog__content__link {
  text-decoration: none;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3rem 0;
}
.contact__title {
  color: #1e549f;
}
.contact__ques {
  font-family: "Open Sans", sans-serif;
}
.contact__group {
  margin: 0 auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.contact__group__input {
  width: 45%;
  height: 40px;
}
.contact__input {
  margin: 3rem auto;
  width: 39.6%;
}
.contact__button {
  width: 150px;
  height: 40px;
  align-self: center;
  border-radius: 5px;
}

.footer {
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #6c757d;
}
.footer__copyright {
  font-family: "Open Sans", sans-serif;
  color: #6c757d;
}
.footer__group__ıcon {
  margin: 0 0.5rem;
}

.btn-primary {
  color: #fff;
  background-color: #1e549f;
  border-color: #1e549f;
}

.btn-secondary {
  color: #1e549f;
  background-color: #fff;
  border-color: #1e549f;
}

.btn-tertiary {
  color: #fff;
  background-color: #1e549f;
  border: none;
}

.btn-quaternary {
  color: #000;
  background-color: #fff;
  border: none;
}

#ChangeTheme {
  width: 0;
  height: 0;
  opacity: 0;
}

label {
  display: block;
  height: 15px;
  width: 60px;
  position: relative;
}

span.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dadada;
  border-radius: 30px;
}

span.slide:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
  top: -2px;
  left: 0px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 7px 1px;
}

#ChangeTheme:checked + span.slide:before {
  transform: translatex(40px);
}

.dark-hero {
  background-size: cover;
  background-image: linear-gradient(to bottom, rgb(165, 164, 164) 40%, rgb(50, 49, 51) 100%), url("https://drive.google.com/file/d/1ITyTtiPOhtZ8mOx9v3EmWyY6eJOdSCqH/view?usp=drive_link");
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}

.dark {
  background-color: #323133;
}/*# sourceMappingURL=main.css.map */